/* General Styles for the Page */
body {
  font-family: Arial, sans-serif;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

header {
  background-color: beige;
  color: saddlebrown;
  padding: 15px;
  width: 100%;
  text-align: center;
}

/* Form container for the login/signup page */
.form-container {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color:gray ;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

/* Styling for input fields and buttons */
input, button {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid beige;
}

button {
  background-color: beige;
  color: saddlebrown;
  cursor: pointer;
}

button:hover {
  background-color: beige;
}

a {
  color: beige;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Footer Styling */
footer {
  margin-top: 20px;
  font-size: 12px;
  color: #888;
}

/* Making the logout link look like a button */
a.logout-btn {
  padding: 10px;
  background-color: beige;
  color: saddlebrown;
  border-radius: 5px;
  text-decoration: none;
}

a.logout-btn:hover {
  background-color: beige;
}
